{% if request.user.is_authenticated %}

<p>{{request.user}}</p>

<form action="{% url 'logout' %}" method="post">
{% csrf_token %}
<button type="submit">ログアウト</button>
</form>


{% else %}
<a href="{% url 'login'%}">ログイン</a>


{% endif %}

<h1>todolist</h1>

<form method="GET">
    <input type="text" name="search" value="{{search}}"/>
    <input type="submit" value="検索"/>
</form>


<a href="{% url 'create_task'%}">タスクの追加</a>
<table>
    <tr>
        <th>タスク<th>
        </tr>
        {% for task in tasks %}
        <tr>

            <td>{{task.title}}</td>
            <td><a href="{% url 'task' task.id %}">確認</a></td>
            <td><a href="{% url 'edit_task' task.id %}">編集</a></td>
            <td><a href="{% url 'delete_task' task.id %}">削除</a></td>

        </tr>
    {% endfor %}
</table>